<div class="bg-blaa-600 hover:bg-transparent hover:border hover:border-2 hover:border-blaa-700 text-blaa-50 hover:text-orange-500 text-inter sm:text-h4_mobil lg:text-h4_desk py-[8px] px-[25px] rounded-small w-fit flex items-center gap-2">
    <slot />
  </div>
  